/* Raleway Font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


/* Reset margins and paddings on all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Search bar */
.search-container {
  display: flex;
  justify-content: center;
  margin: 2rem;
  width: 100%;
}

.search-container input {
  width: 50%;
  height: 30px;
  border: 1px solid;
  border-radius: 16rem;
  font-size: 1rem;
  padding: .5rem;
}

.search-container input::placeholder {
  text-align: center;
}

/* Student Card */
.student-card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  gap: 2rem;
  padding: .5rem;
}

/* Student's avatar */
.student-image {
  width: fit-content;
  height: 5rem;
  border: 1px solid gray;
  border-radius: 50%;
  margin-left: 1rem;
}

.more-info-container {
  margin-top: .5rem;
}

.more-info-container p {
  color: gray;
  padding: .3rem;
  margin-left: .5rem;
}